annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
bcrypt==5.0.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
cachetools==6.2.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
certifi==2025.11.12 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" or python_version == "3.11" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
click==8.3.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows" or python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32" or python_version == "3.11" and platform_system == "Windows" or python_version == "3.11" and sys_platform == "win32"
coverage==7.12.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
cryptography==46.0.3 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
file-retriever @ git+https://github.com/BookOps-CAT/file-retriever.git@6a04a9c5892f644b1a92698bd4d628555b07af61 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
google-api-core==2.28.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
google-api-python-client==2.187.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
google-auth-httplib2==0.2.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
google-auth-oauthlib==1.2.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
google-auth==2.43.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
googleapis-common-protos==1.72.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
httplib2==0.31.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
idna==3.11 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
iniconfig==2.3.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
numpy==2.3.5 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pandas-stubs==2.3.3.251201 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
paramiko==3.4.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pluggy==1.6.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
proto-plus==1.26.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
protobuf==6.33.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pycparser==2.23 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy" or python_version == "3.11" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pymarc==5.3.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pynacl==1.6.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pyparsing==3.2.5 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pytest-cov==5.0.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pytest-mock==3.15.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pytest==8.4.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pytz==2025.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
record-validator @ git+https://github.com/BookOps-CAT/record-validator.git@3782987472aa5d1fbabd25db806d7d7efdf8d8c2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
types-paramiko==3.5.0.20250801 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
types-pytz==2025.2.0.20251108 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
types-pyyaml==6.0.12.20250915 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
uritemplate==4.2.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "4.0" or python_version == "3.11"
