annotated-types==0.7.0 ; python_version == "3.11" or python_version >= "3.12"
bcrypt==4.2.0 ; python_version == "3.11" or python_version >= "3.12"
cachetools==5.5.0 ; python_version == "3.11" or python_version >= "3.12"
certifi==2024.8.30 ; python_version == "3.11" or python_version >= "3.12"
cffi==1.17.0 ; python_version == "3.11" or python_version >= "3.12"
charset-normalizer==3.3.2 ; python_version == "3.11" or python_version >= "3.12"
click==8.1.7 ; python_version == "3.11" or python_version >= "3.12"
colorama==0.4.6 ; python_version == "3.11" and platform_system == "Windows" or python_version >= "3.12" and platform_system == "Windows"
cryptography==43.0.3 ; python_version == "3.11" or python_version >= "3.12"
file-retriever @ git+https://github.com/BookOps-CAT/file-retriever.git@6a04a9c5892f644b1a92698bd4d628555b07af61 ; python_version == "3.11" or python_version >= "3.12"
google-api-core==2.20.0 ; python_version == "3.11" or python_version >= "3.12"
google-api-python-client==2.146.0 ; python_version == "3.11" or python_version >= "3.12"
google-auth-httplib2==0.2.0 ; python_version == "3.11" or python_version >= "3.12"
google-auth-oauthlib==1.2.1 ; python_version == "3.11" or python_version >= "3.12"
google-auth==2.35.0 ; python_version == "3.11" or python_version >= "3.12"
googleapis-common-protos==1.65.0 ; python_version == "3.11" or python_version >= "3.12"
httplib2==0.22.0 ; python_version == "3.11" or python_version >= "3.12"
idna==3.10 ; python_version == "3.11" or python_version >= "3.12"
loggly-python-handler==1.0.1 ; python_version == "3.11" or python_version >= "3.12"
numpy==2.1.1 ; python_version == "3.11" or python_version >= "3.12"
oauthlib==3.2.2 ; python_version == "3.11" or python_version >= "3.12"
pandas-stubs==2.2.2.240909 ; python_version == "3.11" or python_version >= "3.12"
pandas==2.2.3 ; python_version == "3.11" or python_version >= "3.12"
paramiko==3.4.1 ; python_version == "3.11" or python_version >= "3.12"
proto-plus==1.24.0 ; python_version == "3.11" or python_version >= "3.12"
protobuf==5.28.2 ; python_version == "3.11" or python_version >= "3.12"
pyasn1-modules==0.4.1 ; python_version == "3.11" or python_version >= "3.12"
pyasn1==0.6.1 ; python_version == "3.11" or python_version >= "3.12"
pycparser==2.22 ; python_version == "3.11" or python_version >= "3.12"
pydantic-core==2.23.3 ; python_version == "3.11" or python_version >= "3.12"
pydantic==2.9.1 ; python_version == "3.11" or python_version >= "3.12"
pymarc==5.2.2 ; python_version == "3.11" or python_version >= "3.12"
pynacl==1.5.0 ; python_version == "3.11" or python_version >= "3.12"
pyparsing==3.1.4 ; python_version == "3.11" or python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.11" or python_version >= "3.12"
pytz==2024.2 ; python_version == "3.11" or python_version >= "3.12"
pyyaml==6.0.2 ; python_version == "3.11" or python_version >= "3.12"
record-validator @ git+https://github.com/BookOps-CAT/record-validator.git@7b938608026f43657c3ce3e722572b957c6b94c4 ; python_version == "3.11" or python_version >= "3.12"
requests-futures==1.0.1 ; python_version == "3.11" or python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version == "3.11" or python_version >= "3.12"
requests==2.32.3 ; python_version == "3.11" or python_version >= "3.12"
rsa==4.2 ; python_version == "3.11" or python_version >= "3.12"
six==1.16.0 ; python_version == "3.11" or python_version >= "3.12"
types-paramiko==3.5.0.20240928 ; python_version == "3.11" or python_version >= "3.12"
types-pytz==2024.2.0.20241003 ; python_version == "3.11" or python_version >= "3.12"
types-pyyaml==6.0.12.20240808 ; python_version == "3.11" or python_version >= "3.12"
typing-extensions==4.12.2 ; python_version == "3.11" or python_version >= "3.12"
tzdata==2024.2 ; python_version == "3.11" or python_version >= "3.12"
uritemplate==4.1.1 ; python_version == "3.11" or python_version >= "3.12"
urllib3==2.2.3 ; python_version == "3.11" or python_version >= "3.12"
